Repository AliBagheri2079/blog-reactjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "./src/**/*.{js,jsx}": ["prettier --write", "eslint --fix"],
  "./src/**/*.scss": "stylelint --fix"
}

:wrench: chore: create broserslist config
  .browserslistrc
Due: none

:wrench: chore: add title, description, author, keyword and many script options
  package.json
Due: none

:wrench: chore: update all ignore file options
  .eslintignore
  .prettierignore
  .stylelintignore
Due: none

:wrench: chore: improve performance with setup absolute import
  jsconfig.json
  vite.config.js
Due: none

:wrench: chore: add prettier sort imports plugin
  .prettierrc.json
  package.json
Due: none

:art: refactor: update html meta tags and install all dependencies
  index.html
  yarn.lock
Due: none

:sparkles: feat: add sass dependency and create many sass file
  package.json
  src/assets/scss/base/_index.scss
  src/assets/scss/base/_reset.scss
  src/assets/scss/main.scss
  src/assets/scss/utilities/_functions.scss
  src/assets/scss/utilities/_mixins.scss
  src/assets/scss/utilities/_placeholders.scss
  src/assets/scss/utilities/_variables.scss
  src/assets/scss/vendors/_normalize.scss
  yarn.lock
Due: stylelint --fix

:sparkles: feat: add tailwind with postcss and many plugins
  package.json
  postcss.config.js
  tailwind.config.js
  yarn.lock
Due: none

:art: refactor: move all style file to root src style folder
  src/assets/scss/main.scss
  src/style/base/_index.scss
  src/style/base/_reset.scss
  src/style/main.scss
  src/style/utilities/_functions.scss
  src/style/utilities/_mixins.scss
  src/style/utilities/_placeholders.scss
  src/style/utilities/_variables.scss
  src/style/vendors/_normalize.scss
Due: stylelint --fix

:wrench: chore: ignore style lint sass at rule unknown property
  .stylelintrc.json
Due: none

:wrench: chore: ignore all config file from eslint
  .eslintignore
Due: none

:wrench: chore: add prettier tailwind plugin
  .prettierrc.json
  package.json
  yarn.lock
Due: none

:sparkles: feat: add material tailwind react library and change config
  package.json
  src/main.jsx
  tailwind.config.js
  yarn.lock
Due: prettier --write, eslint --fix

:sparkles: feat: add classnames library
  package.json
Due: none

:sparkles: feat: add material ui with icons, emotion and add font, icon cdn
  index.html
  package.json
  yarn.lock
Due: none

:sparkles: feat: add hero icons and font awesome dependencies
  package.json
  yarn.lock
Due: none

:sparkles: feat: create accordion, description, dialog, footer, form and navbar components
  src/components/Accordion/index.jsx
  src/components/Description/index.jsx
  src/components/Dialog/Product.jsx
  src/components/Footer/index.jsx
  src/components/Form/Payment.jsx
  src/components/Navbar/NavList.jsx
  src/components/Navbar/NavListMenu.jsx
  src/components/Navbar/ProfileMenu.jsx
Due: prettier --write, eslint --fix

:sparkles: feat: handle tab pages component
  src/pages/index.jsx
Due: prettier --write, eslint --fix

:sparkles: feat: create navbar, content and put in app root component
  src/App.jsx
  src/layouts/public/ComplexNavbar.jsx
  src/layouts/public/Content.jsx
Due: prettier --write, eslint --fix

:sparkles: feat: add material tailwind layout screenshot
  public/first-screenshot.png
Due: none

:art: refactor: remove many components and sections who related to last layout
  index.html
  src/App.jsx
  src/components/Accordion/index.jsx
  src/components/Description/index.jsx
  src/components/Dialog/Product.jsx
  src/components/Footer/index.jsx
  src/components/Form/Payment.jsx
  src/components/Navbar/NavList.jsx
  src/components/Navbar/NavListMenu.jsx
  src/components/Navbar/ProfileMenu.jsx
  src/layouts/public/ComplexNavbar.jsx
  src/layouts/public/Content.jsx
  src/pages/index.jsx
  src/style/base/_index.scss
  src/style/base/_reset.scss
  src/style/vendors/_normalize.scss
Due: prettier --write, eslint --fix, stylelint --fix

:heavy_plus_sign: build: add postcss-import plugin
  package.json
  postcss.config.js
  yarn.lock
Due: none

:sparkles: feat: add slussen font families
  src/assets/fonts/index.css
  src/assets/fonts/slussen-stencil-trial/Slussen-Stencil-Regular-TRIAL.eot
  src/assets/fonts/slussen-stencil-trial/Slussen-Stencil-Regular-TRIAL.ttf
  src/assets/fonts/slussen-stencil-trial/Slussen-Stencil-Regular-TRIAL.woff
  src/assets/fonts/slussen-stencil-trial/Slussen-Stencil-Regular-TRIAL.woff2
  src/assets/fonts/slussen-stencil-trial/Slussen-Stencil-Semibold-TRIAL.eot
  src/assets/fonts/slussen-stencil-trial/Slussen-Stencil-Semibold-TRIAL.ttf
  src/assets/fonts/slussen-stencil-trial/Slussen-Stencil-Semibold-TRIAL.woff
  src/assets/fonts/slussen-stencil-trial/Slussen-Stencil-Semibold-TRIAL.woff2
  src/assets/fonts/slussen-stencil-trial/demo.html
  src/assets/fonts/slussen-stencil-trial/stylesheet.css
  src/assets/fonts/slussen-trial/Slussen-Regular.eot
  src/assets/fonts/slussen-trial/Slussen-Regular.ttf
  src/assets/fonts/slussen-trial/Slussen-Regular.woff
  src/assets/fonts/slussen-trial/Slussen-Regular.woff2
  src/assets/fonts/slussen-trial/Slussen-Semibold.eot
  src/assets/fonts/slussen-trial/Slussen-Semibold.ttf
  src/assets/fonts/slussen-trial/Slussen-Semibold.woff
  src/assets/fonts/slussen-trial/Slussen-Semibold.woff2
  src/assets/fonts/slussen-trial/demo.html
  src/assets/fonts/slussen-trial/stylesheet.css
Due: none

:lipstick: style: change tailwind import concept and add font style file
  src/style/main.scss
Due: stylelint --fix

:wrench: chore: sync tailwind config with mui and add many custom font family
  tailwind.config.js
Due: none

:zap: perf: improve performance with create mui wrapper with custom font
  src/main.jsx
Due: prettier --write, eslint --fix

:heavy_plus_sign: build: add react particles dependencies
  package.json
  yarn.lock
Due: none

:sparkles: feat: create nasa background particle
  src/components/Particles/NasaParticle.jsx
  src/components/Particles/config/nasaParticleData.js
Due: prettier --write, eslint --fix

:poop: perf: write bad code to see particle background
  src/containers/App.jsx
Due: prettier --write, eslint --fix

:zap: refactor: change mui palette mode to dark
  src/main.jsx
Due: prettier --write, eslint --fix

:lipstick: style: add some basic style
  src/style/base/_index.scss
  src/style/main.scss
Due: stylelint --fix

:bug: bug: remove an option who doesn't make selection
  src/components/Particles/config/nasaParticleData.js
Due: prettier --write, eslint --fix

:wrench: chore: add a custom color to tailwind config file
  tailwind.config.js
Due: none

:sparkles: feat: create base layout template
  src/containers/App.jsx
Due: prettier --write, eslint --fix

:sparkles: feat: add lenis pink color to material color pallete
  src/main.jsx
Due: prettier --write, eslint --fix

:lipstick: style: add text transform uppercase to body and button
  src/style/base/_index.scss
Due: stylelint --fix

:art: refactor: improve root app structure and move to home page component
  src/containers/App.jsx
  src/pages/Home.jsx
Due: prettier --write, eslint --fix

:art: refactor: move nasa particle component to index file
  src/components/Particles/NasaParticle.jsx
  src/components/Particles/index.jsx
Due: prettier --write, eslint --fix

:sparkles: feat: create many custom button with mui style(emotion)
  src/components/Button/Hamburger.jsx
  src/components/Button/HoverBackground.jsx
  src/components/Button/index.jsx
Due: prettier --write, eslint --fix

:sparkles: feat: create many custom icons with mui svg
  src/components/Icons/Lenis.jsx
  src/components/Icons/Lines.jsx
  src/components/Icons/SFD.jsx
  src/components/Icons/index.jsx
Due: prettier --write, eslint --fix
